<H1>All Users</H1>
  <table align="center" width="15%">
  <thead>
    <tr>
      <th align="center"><b>Firstname</b></th>
      <th align="center"><b>Lastname</b></th>
      <th align="center"><b>Salary</b></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td align="center" colspan=2 ><%= link_to "#{user.firstname}   #{user.lastname}", user %></td>
      <td align="center"><%= user.salary %></td>
    </tr>
  <tbody>
  <% end %>
</table>
