<h1>Users</h1>

<table width="60%" align="center">
  <tr>
    <td align="center">
      <p>
         Ivan Ivanov - 5000<BR>
         Petr Petrov - 6000<BR>
         Oksana Fedorova - 7000<BR>
         Aleksej Grigoruk - 4000
      </p>
    </td>
  </tr>
</table>

