<table align="center">
  <thead>
    <tr>
      <th align="center"><b>Firstname</b></th>
      <th align="center"><b>Lastname</b></th>
      <th align="center"><b>Salary</b></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td align="center"><%= user.firstname %></td>
    <td align="center"><%= user.lastname %></td>
    <td align="center"><%= user.salary %></td>
  </tr>
<% end %>
</table>
